body {
	font-size: 12px;
	font-family: sans-serif;
	margin: auto;
	width: 85%;
}

.selected {
	font-style: italic;
}

.search-data {
	margin-bottom: 15px;
	margin-top: 15px;
	
}

.logo {
	margin-top: 30px;
	margin-bottom: 45px;
	margin: auto;
	text-align: center;
}

